CompileFlags:
  CompilationDatabase: build
  Add:
    - -I/Users/kulakov/development/CPP/otus/ots-cpp-prof/vcpkg_installed/arm64-osx/include
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: [modernize*, bugprone*, readability*, performance*]
    Remove: [modernize-use-trailing-return-type, readability-magic-numbers]
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes